
body {
  padding-top: 81px;
}

header.yr-fixed-header {
  position: fixed;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 32px;
  height: 81px;
  background-color: #2E2E2E;
}

header.yr-fixed-header .logo a {
  display: block;
  outline: 0;
  width: 40px;
  height: 40px;
}

header.yr-fixed-header .search a {
  display: block;
  outline: 0;
  width: 29px;
  height: 29px;
}


audio {
width:100%;
margin-top:5px;
margin-bottom:5px;
}

.hidden {
	visibility: hidden;
}

.none {
	display: none;
}

.stopscrolling {
  height: 100%;
  overflow: hidden;
}

#splashbbd{
	display: inline;
}


#splashsb{
	display: none;
}

.logo {
	margin:2%;

}
/* splashpage */
#splashpage {
	margin: 0;
	font-size: 28px;
	color:white;
	background: linear-gradient(150deg, #2E3949, #8CD3D1);
	background-size: 400% 400%;
	-webkit-animation: splashbg 4s ease infinite;
	-moz-animation: splashbg 4s ease infinite;
	animation: splashbg 4s ease infinite;
	width:100%;
	height:100%;
	position:fixed;
	z-index:3;
}

#splashpage h1{
	font-size: 90px;
}

#splashpage p{
	margin-left: 20%;
	margin-right:20%;
}

@-webkit-keyframes splashbg {
    0%{background-position:0% 42%}
    50%{background-position:100% 59%}
    100%{background-position:0% 42%}
}
@-moz-keyframes splashbg {
    0%{background-position:0% 42%}
    50%{background-position:100% 59%}
    100%{background-position:0% 42%}
}
@keyframes splashbg {
    0%{background-position:0% 42%}
    50%{background-position:100% 59%}
    100%{background-position:0% 42%}
}

#trademark-splash{
	position: fixed;
	right: 80%;
}
/* sidebar/navigation */
#sidebar {
	background-color: #fff;
	width: 25%;
	height: 100vh;
	position:fixed;
	z-index:2;
	color: #000;
}

#navdivtext {
	padding-top: 10px;
}

.navbarbutton {
	margin-bottom: 1px;
	padding:15px;
	width: 100%;
	height:50%;
	background-color: #96DCDD;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/*
#navbar a{
	display: block;
	text-decoration: none;
	color: black;
}

#navbar ul{
	list-style-type:none;
	padding: 0;
	margin-left: -6%;
	width: 119%

}

#navbar li{
	border-style: solid;
	border-width: 1px;
	padding: 6px;
	margin: 0 0 3px 0;
	background-color: lightgrey;
}

#navbar{
	font-size: 20px;

}

/*background image*/
#backgroundImg {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}

/* information space/content */
#infospace {
	padding: 5%;
	margin-top: 5%;
	background-color: #ffffff;
	opacity: 0.9;
	height: 80%;
	border:  white 3px solid;
	border-radius: 3%;
	z-index: 1
}

.subheader {
	margin-bottom: 15px;
}

.row {
	height:100vh;
}
/* button placement and color/hover effect */
button {
	padding-top:10px;
	padding-bottom: 10px;
}

.nextbutton {
	background-color: lightskyblue;
	color:white;
}

#mobilespace{
	display: none;
}

.nextbutton:hover {
	background-color: #0275D8;
}

.clickbutton {
	background-color: #96DCDD;
	color:black;
	border-radius: 5px;
	margin-bottom: 10px;
	border:1px grey solid;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.clickbutton:hover {
    background-color: #0275D8;
    color: black;
}

.hoverbutton {
	border-radius: 5px;
	background-color: #96DCDD;
	color:black;
	margin-bottom: 10px;
	border:1px grey solid;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.BGimage1{
	background-color: lavender;
	background-image: url("https://youthradio.org/wp-content/uploads/2017/08/title.png");
	background-size: cover;
    background-repeat: no-repeat;
}

.BGimage2{
	background-color: pink;
	background-image: url("https://youthradio.org/wp-content/uploads/2017/08/schoolparty-e1502153587487.png");
	  background-size: cover;
    background-repeat: no-repeat;
}

.BGimage3{
	background-color: yellow;
		background-image: url("https://youthradio.org/wp-content/uploads/2017/08/IX-e1502153000752.png");
  background-size: cover;
    background-repeat: no-repeat;
}

.BGimage4{
	background-color: teal;
	background-image: url("https://youthradio.org/wp-content/uploads/2017/08/chalkboard-2.png");
  background-size: cover;
    background-repeat: no-repeat;
}

.BGimage5{
	background-color: purple;
	background-image: url("https://youthradio.org/wp-content/uploads/2017/08/investigate.png");
	background-size: cover;
    background-repeat: no-repeat;
}

.BGimage6{
	background-color: teal;
	background-image: url("https://youthradio.org/wp-content/uploads/2017/08/rollover-e1502153858593.png" );
  background-size: cover;
    background-repeat: no-repeat;
}

.BGimage7{
	background-color: purple;
	background-image: url("https://youthradio.org/wp-content/uploads/2017/08/steps.png");
	background-size: cover;
    background-repeat: no-repeat;
}


/* Media queries for mobile */
@media only screen
and (min-width: 0px)
and (max-width: 667px){

	.com-sm-12{
    padding-right: 45px;
	}

	#sidebar {
		position: fixed;
		width: 100%;
		/* padding-right: 45px; */
		height: 170px;
		left: 0;
    	right: 0;
    	margin: 0 auto;
    	overflow-y: hidden;
    	overflow-x: hidden;
    	z-index: 1002;
	}

	#sidebar .nav-link {
		padding: .1em 0em;
		font-size: 0.7em;
	}

	#sidebar h2{
		margin-top: -16px;
    	font-size: 0.9em;
	}

	#sidebar p {
		font-size: 0.4em;
	}

	#sidebar audio{
		margin-top: -10px;
	}

	#sidebar ul {
	}

	.card-block{
		z-index: 1001;
	}

	/* Splash page */

	#splashpage{
		z-index: 1003;
	}

	#splashpage p {
		font-size: 0.5em;
		margin-top: -8%;
	}
	#splashpage h1 {
		font-size: 1.2em;
		margin-top: -80px;
	}

	.row{
		height: 800px;
	}



	#infospace {
		margin-top: 240px;
		right: 50px;
		font-size: 0.8em;
		height: 65%;
	}

	.col-sm-4{
		    max-width: 33.333333%;

	}

/* This would cause the entire sidebar column to act as if it was a menu */
	.col-sm-3 {
		max-width: 25%;

	}

	#navdivbuttons{
		display: none;
	}

	.subheader{
		font-size: 1.0rem;
	}



	/* This would cause the navbar items to be laid down horizontally instead of vertically */
	.flex-sm-column{

		flex-direction: column!important}

	.col-sm-7 {
		-webkit-flex: 0 0 58.333333%;
	}

}
